<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
    <p th:inline="text">
        You are [[${question.name}]] and your quest is [[${question.quest}]].<br>
        You may proceed across the Bridge!
    </p>
    <div>
        <img src="https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="brigde image"
             height="600" width="780">
    </div>

</body>
</html>